.email-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  background-color: $light-green;
  box-shadow: 0 0.5rem 2rem rgba($color-tertiary, 0.2);

  &__header {
    font-family: 'Belleza';
  }

  &__container {
    display: flex;
    margin-bottom: 5rem;
  }

  &__input {
    width: 40rem;
    outline: none;
    background: transparent;
    border: none;
    border-bottom: $color-secondary solid 1px;
    transition: all 0.1s;

    @include respond(phone) {
      width: 25rem;
      border-bottom: $color-secondary solid 1px;
    }

    &:focus {
      transform: translateY(3px);
      border-bottom: $color-primary solid 2px;
    }
  }

  &__btn {
    color: transparent;
  }

  &__arrow {
    width: 2rem;
    height: 2rem;
    margin-left: 1rem;
  }
}

button {
  background: transparent;
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
}
