.features {
  &__container {
    height: auto;
    background-color: $light-green;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 10rem;
    padding-right: 10rem;
    transform: translateY(-4px);
    box-shadow: 0 0.5rem 2rem rgba($color-tertiary, 0.2);

    @include respond(phone-land) {
      flex-wrap: wrap;
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &__item {
    width: 12rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
    @include respond(phone-land) {
      width: 8rem;
      padding-top: 5rem;
      padding-bottom: 5rem;
    }
  }

  &__text {
    text-transform: uppercase;
    text-align: center;
    color: $color-tertiary;
    font-weight: 700;
    font-size: 1.5rem;
    padding-top: 2rem;

    @include respond(phone-land) {
      flex-wrap: wrap;
      font-size: 1.1rem;
      padding: 1.2rem 0;
    }
  }
}

.wave-element {
  background-color: $color-secondary;
  text-align: center;
  overflow: hidden;
}
