.header {
  background-image: url(../../images/hero-img.jpg);
  background-size: cover;
  background-position: center center;
  justify-content: space-around;
  background-repeat: no-repeat;
  height: 92vh;
  display: flex;

  @include respond(tab-land) {
    height: 80vh;
  }
  @include respond(tab-large) {
    height: 40vh;
  }

  @include respond(tab-port) {
    height: 80vh;
  }
  @include respond(tab-medium) {
    height: 60vh;
    background-image: url(../../images/hero-img-mobile.jpg);
  }

  @include respond(phone-large) {
    height: 80vh;
  }

  @include respond(phone) {
    height: 40vh;
  }

  &__container {
    display: flex;
    width: 100%;
    align-items: center;
    box-shadow: 0 1rem 2rem rgba(black, 0.2);

    &--right {
      width: 45%;
      padding-left: 5%;

      @include respond(phone-large) {
        padding-left: 1%;
      }
    }

    &--left {
      width: 55%;
      display: flex;
      flex-direction: column;
      padding-left: 20%;

      @include respond(tab-small) {
        padding-left: 10%;
      }
    }
  }

  &__text {
    color: $color-secondary;
    font-family: 'Belleza';
    font-size: 3rem;
    margin-bottom: 2rem;
    line-height: 170%;

    @include respond(tab-land) {
      font-size: 2.2rem;
    }
  }

  &__img {
    width: 60%;

    @include respond(phone) {
      width: 100%;
    }
  }
}
