.nav {
  color: $color-tertiary;
  background-color: $color-secondary;
  height: 5rem;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  //   transition: all 0.2s;

  &__logo {
    width: 7rem;
  }

  &__links {
    width: 35rem;
    text-align: center;
  }
  &__phone {
    font-weight: bold;
    font-size: 1.5rem;
  }

  @include respond(phone-land) {
    display: none;
  }
}

.links-list {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    font-weight: bold;
    display: inline-block;
    padding: 2%;
    font-size: 1.1rem;
  }
}

.link-style {
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: $color-tertiary;
  }

  &:hover {
    color: $color-primary;
  }
}
