.heading-large {
  color: $color-tertiary;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.heading-medium {
  color: $color-tertiary;
  font-size: 3rem;
  font-weight: 500;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
