@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto/roboto-latin-300.woff'),
    url('../../fonts/Roboto/roboto-latin-300.woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto/roboto-latin-regular.woff'),
    url('../../fonts/Roboto/roboto-latin-regular.woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../fonts/Roboto/roboto-latin-700.woff'),
    url('../../fonts/Roboto/roboto-latin-700.woff2');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Belleza';
  src: url('../../fonts/Belleza/belleza-latin-regular.woff'),
    url('../../fonts/Belleza/belleza-latin-regular.woff2');
  font-display: swap;
}

.heading-large {
  color: $color-tertiary;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.heading-medium {
  color: $color-tertiary;
  font-size: 3rem;
  font-weight: 500;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
